body {
    margin: 0;
   /* background-image: url("https://www.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-7-full.jpg"); */
    background-color: rgb(59, 59, 59);
}

h2 {
    color: red;
}

header {
    background-color: blueviolet;
    color: chartreuse;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.title {
    text-decoration: none;
    color: chartreuse;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 20px;
}

.title-ico:hover {
    text-decoration: none;
    color: chartreuse;
}

.column-content {
    background-color: rgb(206, 145, 241);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    padding: 10px;
}

.main-content {
    background-color: rgb(206, 145, 241);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    background-color: rgb(226, 238, 252);
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.item-name {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 3px;
    font-size: larger;
    font-weight: bold;
    width: calc(100% - 6px);
    margin-top: 0;
}

.item-price {
    padding: 3px;
    font-size: large;
}

.item img {
    width: 70%;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.add-btn {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 70%;
    text-align: center;

    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-btn:hover {
    background-color: orange;
    color: black;
}

.return-btn {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: center;

    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.return-btn:hover {
    background-color: orange;
    color: black;
}

.cart-ico {
    text-decoration: none;
    background-color:black;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: chartreuse;
    border-radius: 20px;
}

.cart-ico:hover {
    color: orange;
}

.summary-price {
    font-size: larger;
    font-weight: bold;
}

table {
    width: 100%;
    border: 2px solid black;
    counter-reset: section;
}

.table-img {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.count:before {
    counter-increment: section;
    content: counter(section);
}

.count {
    padding: 10px;
}

tr {
    width: 100%;
    border: 2px solid black;
}

th{
    text-align: left;
    border: 1px solid black;
}

td img{
    width: 40px;
    height: 40px;
    border-radius: 20%;
}

.mbtn{
    background-color: blanchedalmond;
    text-decoration: none;
    display: block;
    width: 30px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
    font-size: larger;
    font-weight: bold;
}

td p{
    margin: 3px;
    padding: 5px
}

form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label{
    width: 100%;
}

.infoMsg{
    width: 100%;
    color: green;
    font-size: 1.3rem;
    text-align: center;
}
