<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="\css\style.css">
</head>
<body>
<header>
    <span class="title">MyShop</span>
</header>

<div class="main-content">
<a th:href="@{'/'}" class="return-btn">Powrót do strony głównej</a>
</div>

<div class="column-content">

    <div class="summary">
        <h1>Dodaj </h1>

        <form th:action="@{/admin/add}" method="post">
            <label>Nazwa:
                <input class="add-input" type="text" name="name" required>
            </label>
            <label>Cena:
                <input class="add-input" type="number" min="0.01" step="0.01" name="price" required>
            </label>
            <label>urlImg:
                <input class="add-input" type="text" name="imgUrl">
            </label>
            <button class="add-btn" type="submit">Dodaj</button>
        </form>

    </div>
</div>

<div class="column-content">
    <h1>Usuń </h1>

    <div class="main-content">

        <div class="item" th:each="item : ${items}">
            <p class="item-name" th:text="${item.name}"></p>
            <img th:src="@{${item.imgUrl}}">
            <div>
                <span>Cena</span>
                <span th:text="${item.price}"></span>
                <span>zł</span>
            </div>

            <a th:href="@{'admin/remove/'+${item.id}}" class="add-btn">Usuń przedmiot</a>
            <a class="add-btn" onclick="openPopup(${item.id})">Edytuj przedmiot</a>
            <div class="popup" id="popup">
                <h1>Edytuj przedmiot: <span th:value="${item.name}"></span> </h1>
                <form th:action="@{'/admin/edit/'+${item.id}}" th:object="${item}" method="post">
                    <input type="hidden" name="_method" value="put">
                    <div>
                        <label class="edit-label">Nazwa:
                            <input class="edit-input" type="text" name="name" th:field="*{name}" required>
                        </label>
                    </div>
                    <div>
                        <label>Cena:
                            <input class="edit-input" type="number" min="0.01" step="0.01" name="price" th:field="*{price}" required>
                        </label>
                    </div>
                    <div>
                        <label>urlImg:
                            <input class="edit-input" type="text" name="imgUrl" th:field="*{imgUrl}">
                        </label>
                    </div>
                    <button class="add-btn" type="submit" onclick="closePopup()">Zmień</button>
                    <button class="add-btn" type="button" onclick="closePopup()">Powrót</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    let popup = document.getElementById("popup");
    function openPopup(itemId){
        fetch('/admin/edit/' + itemId)
            .then(response => response.json())
            .then(data => {
                document.getElementById("popup-item-name").textContent = data.name;
                document.getElementById("edit-name").value = data.name;
                document.getElementById("edit-price").value = data.price;
                document.getElementById("edit-imgUrl").value = data.imgUrl;
                document.getElementById("editForm").setAttribute("th:action", "/admin/edit/" + itemId);
                popup.classList.add("open-popup");
            });
    }
    function closePopup(){
        popup.classList.remove("open-popup");
    }
</script>
</body>
</html>