<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="\css\style.css">
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    -->
</head>
<body>
    <header th:replace="fragments/header :: ShopHeader"></header>

    <div class="main-content">
        <div class="item" th:each="item : ${items}">
            <p class="item-name" th:text="${item.name}"></p>
            <img th:src="@{${item.imgUrl}}">
            <div>
                <span class="item-price">Cena</span>
                <span class="item-price" th:text="${item.price}"></span>
                <span class="item-price">zł</span>
            </div>

            <a th:href="@{'/add/'+${item.id}}" class="add-btn">Dodaj do koszyka</a>
        </div>
    </div>
</body>
</html>