<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="\css\style.css">
</head>
<body>
    <header th:replace="fragments/header :: ShopHeader"></header>

    <div class="column-content">
        <div class="main-content">

                <table cellspacing="0">
                    <tr>
                        <th style="width: 30px;">No.</th>
                        <th style="width: 50px;">Img</th>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                        <th>Suma</th>
                    </tr>
                    <tr th:each="cartItem : ${@cart.cartItems}">
                        <td class="count"></td>
                        <td>
                            <img th:src="@{${cartItem.item.imgUrl}}">
                        </td>
                        <td th:text="${cartItem.item.name}"></td>
                        <td style="display: flex; padding-top: 10px">
                            <p th:text="${cartItem.counter}"></p>
                        </td>
                        <td th:text="${cartItem.price}"></td>

                    </tr>
                </table>

                <div class="summary-price">
                    <p><span>Do zapłaty: </span><span th:text="${@cart.sum}"></span> zł</p>
                </div>
        </div>

        <div class="column-content">
            <h1>Dane do dostawy: </h1>

            <form th:action="@{/order/saveorder}" method="post">
                <label>Imię:
                    <input class="summary-input" type="text" name="firstName" required>
                </label>
                <label>Nazwisko:<br>
                    <input class="summary-input" type="text" name="lastName" required>
                </label>
                <label>Adres:<br>
                    <input class="summary-input" type="text" name="address" required>
                </label>
                <label>Kod pocztowy:<br>
                    <input class="summary-input" type="text" name="postCode" required>
                </label>
                <label>Miasto:<br>
                    <input class="summary-input" type="text" name="city" required>
                </label>
                <button type="submit" class="add-btn">Zamów</button>
            </form>
        </div>
    </div>
</body>
</html>